body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #eee;
    text-align: center;
    padding: 10px;
  }
    h1 {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
body {
  background-image: url('https://imgs.search.brave.com/vUSyt6QJm23MH7u-EZgGb1KfgbHWUgxNVft6Xb1-T88/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9leWVj/bG90aGVzLmZyL2Nk/bi9zaG9wL2ZpbGVz/L0lNR18wMTQ0Lmhl/aWM_dj0xNzI4MjIy/NjM1JndpZHRoPTE0/NDU');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
